<ul class="nav navbar-nav">
  
   
    <li class="nav-item">@Html.ActionLink(AceMvcWebFramework.App_LocalResources.Resource.Contact, "Contact", "Home", null, new { @class = "nav-link" })</li>
  
 </ul>
