
    <div class="modal fade" id="dialogSubjectAcademic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog w-60 h-100" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Subject</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="col-sm-12">
                        <div class="form-group row mb-1">
                            <input type="hidden" id="state" />
                            <input type="hidden" id="index" />
                            <input type="hidden" id="subject_id" />
                            <label class="col-form-label col-sm-2 px-3">Grade</label>
                            <div class="col-sm-2">
                                @*<input type="text" class="form-control" id="grade_name" name="grade_name" />*@
                                <select id="grade_id" name="grade_id" class="custom-select"></select>
                            </div>
                            <div class="input-group col-sm-2 pl-0 d-block">
                            </div>
                            <label class="col-form-label col-sm-2 px-3">Year</label>
                            <div class="col-sm-2">                                
                                <select id="year_id" name="year_id" class="custom-select"></select>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-sm-12">
                        <div class="form-group row mb-1">
                            <label class="col-form-label col-sm-2 px-3"><b>Subjects List</b></label>
                            <br />
                        </div>
                    </div>*@

                    <div class="col-sm-12">
                        <div class="form-group row mb-1">
                            <label class="col-form-label col-sm-2 px-3">Subject</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="subject_name" name="subject_name" />
                            </div>
                            <div class="input-group col-sm-2 pl-0 d-block">
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-primary" id="btnAdd">
                                    <i class="fa fa-plus"></i>Add
                                </button>
                                <button type="button" class="btn btn-danger" id="btnClear">
                                    <i class="fa fa-close"></i>Clear
                                </button>
                            </div>
                            <label class="col-form-label col-sm-2">Description</label>
                            <div class="col-sm-2 px-0">
                                <input type="text" class="form-control" id="description" name="description"/>
                            </div>
                        </div>
                    </div>


                    @*<div class="col-sm-12">
                        <div class="form-group row mb-1">
                            <div class="col-sm-2 px-0"></div>
                            <div class="col-sm-3">
                                <input type="button" id="btnAdd" class="btn btn-primary" value="Add" />
                                <input type="button" id="btnClear" class="btn btn-danger" value="Clear" />
                            </div>
                        </div>
                    </div>*@

                    <div class="table-responsive mt-2 pre-scrollable" id="div_data">
                        <table id="SubjectTable" class="table table-bordered table-hover w-100">
                            <thead>
                                <tr>
                                    <th style="width:10%">Sr/No</th>
                                    <th style="width:35%">Subject</th>
                                    <th style="width:35%">Description</th>
                                    <th style="width:20%"></th>
                                </tr>
                            </thead>
                            <tbody id="SubjectDataBody"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    @*<input type="button" id="btnSave" class="btn btn-primary" data-dismiss="modal" value="Save" />
                    <input type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal" value="Cancel" />*@
                    <button type="submit" class="btn btn-primary" id="btnSave"  data-dismiss="modal" >
                        <i class="fa fa-save"></i> Save
                    </button>

                    <button type="button" class="btn btn-secondary" id="btnClose"  data-dismiss="modal" >
                        <i class="fa fa-sign-out"></i>Cancel
                    </button>
                </div>
            </div>
        </div>
</div>
<script type="text/javascript">
    GetSubject('');
    GetGradeList("");
    var SubjectList = [];
    var SubjectListByGrade = [];

     function GetGradeList(selected) {
        var actionUrl = '/SetupMaster/GetGradeList';
        $.getJSON(actionUrl, (response) => {
            if (response !== null) {
                var $select = $('#grade_id');
                $select.find('option').remove();
                $select.append(`<option value="">-- Please Select --</option>`);
                for (let i = 0; i < response.length; i++) {
                    $select.append(`<option value="${response[i].grade_id}">
                                     ${response[i].grade_name}</option>`);
                }
                if (selected !== "") {
                    $select.val(selected);
                }
            }
        });
    }

    $('#subject_id').change(function () {
        console.log(SubjectList);
        if (SubjectList.length > 0) {
            var subjInfo = SubjectList.filter(x => x.subject_id == $(this).val());
            console.log(subjInfo);
            $('#subj_desc').val(subjInfo[0].description);
        }
    });

    function GetSubject(selected) {
        var actionUrl = '/SetupMaster/GetSubjectList';
        $.getJSON(actionUrl, (response) => {
            if (response !== null) {
                SubjectList = response;
                var $select = $('#subject_id');
                $select.find('option').remove();
                $select.append(`<option value="">-- Please Select --</option>`);
                for (let i = 0; i < response.length; i++) {
                    $select.append(`<option value="${response[i].subject_id}">
                                     ${response[i].subj_name}</option>`);
                }
                if (selected !== "") {
                    $select.val(selected);
                }
            }
        });
    }

    function BindJson_Subject(obj) {
        obj.index = $("#index").val();
        obj.subject_id = $("#subject_id").val();
        obj.subject_name = $("#subject_name").val();
        obj.description = $('#description').val();
        obj.isDelete = false;
      
        return obj;
    }

    $("#btnAdd").click(function () {
        var sub_index = $("#index").val();
        if (sub_index != null && sub_index != "") {
            var ext_list = SubjectListByGrade.filter(x => x.subject_name == $("#subject_name").val() && x.index != sub_index);
            console.log("ext_list ==>" + ext_list);
            if (ext_list.length > 0) {
                toastr.error("This Subject already added!", "Subject Data"),
                    setTimeout(function () { }, 1e4);
            }
            else {
                $.each(SubjectListByGrade, function (index, obj) {
                    if (obj.index == sub_index) {
                        BindJson_Subject(obj);
                        return false;
                    }
                });
            }
        }
        else {
            var exit_list = SubjectListByGrade.filter(x => x.subject_name == $("#subject_name").val());
            if (exit_list.length > 0) {
                toastr.error("This Subject already added!", "Subject Data"),
                    setTimeout(function () { }, 1e4);
            }
            else {
                if ($("#subject_name").val() != "") {
                    var data_info = BindJson_Subject({});
                    SubjectListByGrade.push(data_info);
                }
            }
        }
        console.log(SubjectListByGrade);
        showSubjectTable();
        clearSubject();
    });

    $("#btnClear").click(function () {
        clearSubject();
    });

    function EditData(con_index) {
        $.each(SubjectListByGrade, function (index, obj) {
            if (obj.index == con_index) {
                BindControlsSubject(obj);
                $("#btnAdd").val("Update");
                return false;
            }
        });
    }

    function DeleteData(c_index, subject_id) {
        console.log("indesx ==> " + c_index);
        console.log("class_id ==> " + subject_id);
        if (subject_id != null && subject_id != '' && subject_id != 'undefined') {
            $.each(SubjectListByGrade, function (index, obj) {
                if (obj.index == c_index && obj.subject_id == subject_id) {
                    console.log("Treu");
                    obj.index = 0;
                    obj.Sstate = "Deleted";
                    return false;
                }
            });
        }
        else {
            console.log("Flase");
            SubjectListByGrade = $.grep(SubjectListByGrade, function (obj) { return obj.index != c_index; });
        }
        console.log(SubjectListByGrade);
        showSubjectTable();
        clearSubject();
    }

    function BindControlsSubject(obj) {
        $("#index").val(obj.index);
        $("#subject_id").val(obj.subject_id);
        $("#subject_name").val(obj.subject_name);        
        $("#description").val(obj.description);    
    }

    function showSubjectTable() {
        $("#SubjectDataBody").empty();
        var list = SubjectListByGrade.filter(x => x.Sstate != "Deleted");
        console.log(list);
        for (var i = 0; i < list.length; i++) {
            ////Re order index after delelting or inserting
           
            list[i]["index"] = i + 1;
            var tr = "<tr>";
            var td1 = "<td>" + list[i]["index"] + "</td>";
            var td2 = "<td>" + list[i]["subject_name"] + "</td>";
            var td3 = "<td>" + (list[i]["description"] == null ? "" : list[i]["description"]) + "</td>";
            var td4 = "<td>" +
                "<button type='button'" +
                "onclick=EditData('" + list[i]["index"] + "'); " +
                'style="color: white; " class="btn btn-primary btn-sm"><span class="fa fa-edit"></span>&nbsp;Edit' +
                "</button>";

            var td5 =
                "<button type='button'" +
                "onclick=DeleteData('" + list[i]["index"] + "','" + list[i]["subject_id"] + "'); " +
                'style="color: white; " class="btn btn-danger btn-sm"><span class="fa fa-edit"></span>&nbsp;Delete' +
                "</button>"
            "</td></tr > ";

            $("#SubjectDataBody").append(tr + td1 + td2 + td3 + td4 + td5);
        }
    }

    function clearSubject() {
        $("#index").val("");
        $("#subject_id").val("");
        $('#subject_name').val("");
        $('#description').val("");
        $("#btnAdd").val("Add");
    }
</script>


